.mainNav{
    position:fixed;
    left:0;
    top:0;
    width: 3rem;
    height: 100vh;
    background-color: var(--dark0);
    color:white;    
    align-items: center;
    transition: width 200ms ease;
    z-index: 999;
}
.mainNav ul {
    list-style-type: none;
    padding: 6vh 0 0 0;
}
.mainNav ul li .ico{
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.mainNav ul li{
    transition: all 0.2s ease-in-out;
}
.mainNav ul li:hover{
    background: #333;
}
